#%RAML 0.8

title: Returns
description: The Returns API provides all methods for retrieving and processing a return generated by Jet Customer Care.  More detail about this API schema can be found in the API Explanation tab of this portal.  When looking at the methods for this schema, please ignore "?subscription-key= Your subscription key" in any URLs.
baseUri: https://merchant-api.jet.com/api/returns
version: v0.1
protocols: [HTTPS]
mediaType: application/json

    /{status}:
        get:
            description: This method will provide resource URLs for returns by the status of the return
            Status can be one of the following: "created", "acknowledged",  "refund customer without return", "completed by merchant"
            responses:
                200:
                    body:
                        application/json:
                            schema: !include return-links.schema.json
                            example: !include return-links.example.json
                404:
                    description: The requested resource could not be found. 
    /state/{id}:
            get:
                description: This method provides the current status of the return and all information associated with processing the return
                responses:
                    200:
                        body:
                            application/json:
                                schema: !include return-notification.schema.json
                                example: !include return-notification.example.json
                    404:
                        description: The requested resource could not be found.                 
    /{id}/acknowledge:
            put:
                description: This method allows a merchant to mark a return as acknowledged
                body:
                    application/json:
                        schema: !include return-acknowledgement.schema.json
                        example: !include return-acknowledgement.example.json
                responses:
                    200:
                    404:
                        description: The requested resource could not be found. 
                    409:
    /{id}/complete:
            put:
                description: This method allows a merchant to notify Jet.com that a return is complete and how the customer should be refunded
                body:
                    application/json:
                        schema: !include return-orderRefund.schema.json
                        example: !include return-orderRefund.example.json
                responses:
                    200:
                    404:
                        description: The requested resource could not be found. 
                    409: