#%RAML 0.8

title: Seller API - Merchant Skus
baseUri: http://ironman.jet.com/api/{version}
version: v0.1
protocols: [HTTPS]
mediaType: application/json

/merchant-skus:
	get:
		description: This method will list all merchant SKUs
		responses:
			200:
				body:
					application/json:
						schema: !include merchant-skus.schema.json
						example: !include merchant-skus.example.json
			404:
	/{id}:
		get:
			description: This method will list the specified merchant SKU
			responses:
				200:
					body:
						application/json:
							schema: !include merchant-skus.schema.json
							example: !include merchant-skus.example.json
				404:
		/inventory:
			put:
				description: This method updates inventory data for the specified merchant SKU
				body:
					application/json:
						schema: !include inventory.schema.json
						example: !include inventory.example.json
			responses:
				201:
				204:
				400:
				409:
			/{fcid}:
				put:
					description: This method updates FC-level inventory data for the specified merchant SKU
					body:
						application/json:
							schema: !include inventory.schema.json
							example: !include inventory.example.json
				responses:
					201:
					204:
					400:
					409:
		/price:
			put:
				description: This method updates price data for the specified merchant SKU
				body:
					application/json:
						schema: !include price.schema.json
						example: !include price.example.json
			responses:
				201:
				204:
				400:
				409:
			/{fcid}:
				put:
					description: This method updates FC-level price data for the specified merchant SKU
					body:
						application/json:
							schema: !include price.schema.json
							example: !include price.example.json
				responses:
					201:
					204:
					400:
					409:
		/image:
			/main:
				put:
					description: This method updates the main image for the specified merchant SKU
					body:
						application/json:
							schema: !include image.schema.json
							example: !include image.example.json
				responses:
					201:
					204:
					400:
					409:
			/alternate:
				put:
					description: This method updates alternate image data for the specified merchant SKU
					body:
						application/json:
							schema: !include image.schema.json
							example: !include image.example.json
				responses:
					201:
					204:
					400:
					409:
			/swatch:
				put:
					description: This method updates the swatch image for the specified merchant SKU
					body:
						application/json:
							schema: !include image.schema.json
							example: !include image.example.json
				responses:
					201:
					204:
					400:
					409:
		/shippingexception:
			put:
				description: This method updates shipping exception data for the specified merchant SKU
				body:
					application/json:
						schema: !include shippingexception.schema.json
						example: !include shippingexception.example.json
			responses:
				201:
				204:
				400:
				409:
